EXPO_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_PROJECT_ID=your-project-id
EXPO_PUBLIC_APPWRITE_DATABASE_ID=your-database-id
EXPO_PUBLIC_APPWRITE_LISTINGS_COLLECTION_ID=listings
EXPO_PUBLIC_APPWRITE_PROFILES_COLLECTION_ID=profiles
EXPO_PUBLIC_APPWRITE_MESSAGES_COLLECTION_ID=messages
EXPO_PUBLIC_APPWRITE_BUCKET_ID=listings
EXPO_PUBLIC_APPWRITE_TRANSACTIONS_COLLECTION_ID=transactions
EXPO_PUBLIC_APPWRITE_REVIEWS_COLLECTION_ID=reviews
EXPO_PUBLIC_APPWRITE_FOLLOWS_COLLECTION_ID=follows
EXPO_PUBLIC_APPWRITE_OFFERS_COLLECTION_ID=offers
EXPO_PUBLIC_APPWRITE_COMMUNITIES_COLLECTION_ID=communities
EXPO_PUBLIC_GROQ_API_KEY=your-groq-api-key
